.controls {
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;

    & > .url-input {
        flex: 0 1 auto;
        margin: 1rem;

        &:nth-of-type(3) {
            flex: 1 1 auto;
        }
    }

    & > .btn {
        flex: 0 0 auto;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 100%;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.url-input {
    label {
        font-size: 0.75rem;
        color: $gray-700;
        margin-bottom: 0.25rem;
    }
}
